body{
	background-color: #fefdf2;
	font-family: "Avant Garde","Avantgarde","Century Gothic","CenturyGothic","AppleGothic","sans-serif";
}

.principal {
	background-color: white;
	
	width: 100%;
	padding: 0px; 		
}

.menu {
	background-color: black;
	color:#ebd1a4;
	width: 100%;
	height: 200px;
}

.bt {
border:1px solid #25692A;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-weight:bold;
font-size: 11px;
padding:4px 7px;
text-decoration:none;
} 


.bt-lj {
border-color:#eb9b48;
background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
box-shadow:inset 0px 1px 0px 0px #fdf7f0;
color:#333;
text-shadow:0px 1px 0px #ffee66;
text-align: center;
}

.navegacao{
	height: 70px;
	color:#ebd1a4;
}

.menuCor {
	background-color: white;
	width:100%;
	height:1000px;

}
.logar{
	color:#ebd1a4;
}

.botao {
	padding-top: 4px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: black;
  border: none;
  color:#ebd1a4;
}

.linha {
	background-color: #787716;
	height: 4px;
}

.menu2 {
	width: 100%;
	height: 100%;
	
}
.cor {
	color:#ebd1a4;
}
.backcor {
	border-color: #ebd1a4;
	color:#ebd1a4;

}
.contexto {
	width:100%;
	height:1700px;
}

.promocao {
	width: 1300px;
	height:230px;
	border-top: 2px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	margin-left: 100px;


}

.borda2 {
	width: 100%;
	height: 100%;
	border-right: 3px solid #dee2e6;

}

.tela {
	width: 100%;
	height: 130px;
}

.promocao h4 {
	margin-top: 30px;
}

.promocao2 {
	border: 1px solid #787716;
	width: 250px;
	height:50px;
	margin-top: 70px;
	border-radius: 15px;

}

.promocao2 h4 {
	margin-top: 7px;
}


. {
	margin-bottom: 40px;

}

.logo {
	width: 60px;
	height: 60px;
	margin-left:70px;
	margin-bottom:35px;
	float:left;

}

.logo2 {
	width: 60px;
	height: 60px;
	float:left;

}

.reserva {
	width: 200px;
	height: 25px;
	float:right;
	margin-right:35px;
}
.slide {
	width: 100%;
	height: 700px;
	margin-top: 0px;


}
.slide2 {
	width: 100%;
	height: 700px;
	margin-top: 0px;


}

.slide3 {
	width: 100%;
	height: 600px;
	margin-top: 0px;
	padding-bottom: 80px;


}
.menu3 {
	 text-align: center;
	 padding-top: 30px;
	 color: black;
}
.imagem {
	width: 150px;
	height: 130px;
	padding-top: 30px;


}
.texto {
	text-align: left;
	padding-left: 100px;
}
.pizza {
	width: 460px;
	height: 200px;
	float: left;
	padding-left: 50px;
	font-size:15px;
	margin-bottom:80px;
	
}

.fonte{
	font-size:15;	
}
.pizza td {
	padding-bottom: 100px;	

}
.pizza p {
	padding-left: 200px;	

}
.pizza h3 {
	padding-left: 200px;	
}
.pizza h5 {
	padding-left: 200px;
	font-size:20px;	
}	

}

.pizzatexto {
	padding-left:0px;
}
.imagem2 {
	width: 150px;
	height: 130px;
	float:left;
}
.rodape {
	background-color: black;
	width:150px;
	height: 150px;

}


.rodape {
	background-color: black;
	width: 100%;
	height: 170px;
}

#redeS {
	width: 100px;
	height: 170px;
	margin-right: 0px;
}

.icone2 {
	margin-top:20px;
	width: 40px;
	height: 50px;
	padding: 0;


}

.icone2 a,img {
	margin-top:20px;
	width: 60px;
	height: 50px;
	padding: 0;


}

.ajuda {
	float:right;
	margin-top: 120px;
	padding: 0;
	width: 100px;
}

.ajuda h5 {
	width: 10px;
	font-size: 15px;
}

/*footer
*/
footer {
	background-color: black;
	padding-top: 10px;
	border-top: 5px solid #787716;
}

footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}

footer h2 {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
	width: 30px;
}
.footer-tamanho {
	width:500px;

}

.quebraLinha {
	width: 85px;

}

.margem {
	margin-left: 10px;
}
footer li {
	list-style: none;
	float: right;
}

.footer-box {
	width: 31%;
	padding: 1%;
	float: left;
}

.wrapper {
	height:100%;
}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.company-footer {
	width: 80%;
}

.company-footer h2 {
	margin-top: 20px;
}

.company-footer h2, .company-footer p {
	margin-bottom: 20px;
}

.footer-list li {
	margin-bottom: 15px;
}

.footer-list a {
	transition: 0.5s;
	float:right;
}

.footer-list a:hover {
	color: #FFF;
}

.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}

.articles-footer {
	width: 100%;
}

.footer-list.footer-article-list span {
	display: block;
	float: none;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}

.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.footer-bottom {
	border-top: 1px solid #B2B2B2;
}

.footer-bottom p {
	font-weight: 600;
	margin-top: 40px;
}
.icone3 {
	height: 100px;
	width: 100px;
}