body{
	background-color: #fefdf2;
	font-family: "Avant Garde","Avantgarde","Century Gothic","CenturyGothic","AppleGothic","sans-serif";
}

.principal {
	background-color: white;
	
	width: 100%;
	padding: 0px; 		
}

.menu {
	background-color: black;
	color:#ebd1a4;
	width: 100%;
	height: 90px;
}

.menu-fixo {
	background-color: black;
	color:#ebd1a4;
	width: 100%;
	height: 90px;

}

.bt {
border:1px solid #25692A;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-weight:bold;
font-size: 11px;
padding:4px 7px;
text-decoration:none;
} 


.bt-lj {
border-color:#eb9b48;
background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
box-shadow:inset 0px 1px 0px 0px #fdf7f0;
color:#333;
text-shadow:0px 1px 0px #ffee66;
text-align: center;
}

.navegacao{
	height: 70px;
	color:#ebd1a4;
}

.menuCor {
	background-color: white;
	width:100%;
	height:1000px;

}
.logar{
	color:#ebd1a4;
}

.botao {
	padding-top: 4px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: black;
  border: none;
  color:#ebd1a4;
}

.linha {
	background-color: #787716;
	height: 4px;
}

.menu2 {
	width: 100%;
	height: 100%;
	
}

.menu3 {
	width: 70px;
	height: 70px;
	margin-bottom: 40px;
	
}
.cor {
	color:#ebd1a4;
}
.backcor {
	border-color: #ebd1a4;
	color:#ebd1a4;

}
.contexto {
	width:100%;
	height:1700px;

}

.promocao {
	width: 1300px;
	height:230px;
	border-top: 2px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	margin-left: 100px;


}

.borda2 {
	width: 100%;
	height: 100%;
	border-right: 3px solid #dee2e6;

}

.tela {
	width: 100%;
	height: 130px;
}

.promocao h4 {
	margin-top: 30px;
}

.promocao2 {
	border: 1px solid #787716;
	width: 250px;
	height:50px;
	margin-top: 70px;
	border-radius: 15px;

}

.promocao2 h4 {
	margin-top: 7px;
}


. {
	margin-bottom: 40px;

}

.logo {
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 30px;
}

.logo2 {
	width: 40px;
	height: 40px;
	margin-top: 0px;


}

.reserva {
	width: 200px;
	height: 25px;
	float:right;
	margin-right:35px;
}
.slide {
	width: 100%;
	height: 650px;
	margin-top: 0px;


}
.slide2 {
	width: 100%;
	height: 650px;
	margin-top: 0px;


}

.slide3 {
	width: 100%;
	height: 600px;
	margin-top: 0px;
	padding-bottom: 80px;


}
.menu3 {
	 text-align: center;
	 padding-top: 30px;
	 color: black;
}
.imagem {
	width: 150px;
	height: 130px;
	padding-top: 30px;


}
.texto {
	text-align: left;
	padding-left: 100px;
}
.pizza {
	width: 460px;
	height: 200px;
	float: left;
	padding-left: 50px;
	font-size:15px;
	margin-bottom:80px;
	
}

.fonte{
	font-size:15;	
}
.pizza td {
	padding-bottom: 100px;	

}
.pizza p {
	padding-left: 200px;	

}
.pizza h3 {
	padding-left: 200px;	
}
.pizza h5 {
	padding-left: 200px;
	font-size:20px;	
}	

}

.pizzatexto {
	padding-left:0px;
}
.imagem2 {
	width: 150px;
	height: 130px;
	float:left;
}
.rodape {
	background-color: black;
	width:150px;
	height: 150px;

}


.rodape {
	background-color: black;
	width: 100%;
	height: 170px;
}

#redeS {
	width: 100px;
	height: 170px;
	margin-right: 0px;
}

.icone2 {
	margin-top:20px;
	width: 40px;
	height: 50px;
	padding: 0;


}

.icone2 a,img {
	margin-top:20px;
	width: 60px;
	height: 50px;
	padding: 0;


}

.ajuda {
	float:right;
	margin-top: 120px;
	padding: 0;
	width: 100px;
}

.ajuda h5 {
	width: 10px;
	font-size: 15px;
}

/*footer
*/
footer {
	background-color: black;
	padding-top: 10px;
	border-top: 5px solid #787716;
	width:100%;
	font-size: 12px;
}

footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}

footer h2 {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
	width: 30px;
}
.footer-tamanho {
	width:500px;
	padding-right: 50px;
	position: absolute;


}

.footer-tamanho table {
	width:500px;
}

.quebraLinha {
	
	padding-left:0px;


}

.quebra-linha {
	padding-left:0px;
	margin-left:25px;

}

.separa {
	width:75px;
}

.margin-left {
	margin-left:0px;
	width: 500px;
	float:right;
	padding-right: 63%;
	margin-top:15px;
	
}

.margin-left a{
	
}

.tamanho {
	height: 100px;
}
.tamanho-div{
	width: 100px;
}
.margem {
	margin-left: 10px;
}
footer li {
	list-style: none;
	float: right;
}

.footer-box {
	width: 31%;
	padding: 1%;
	float: left;
}

.wrapper {
	height:100px;

}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.company-footer {
	width: 100px;

}


.articles-footer {
	width: 100%;
}

.footer-list.footer-article-list span {
	display: block;
	float: none;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}

.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.footer-bottom {
	border-top: 1px solid #B2B2B2;
}

.footer-bottom p {
	font-weight: 600;
	margin-top: 40px;
}
.icone3 {
	height: 100px;
	width: 100px;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    float: left;
    padding: 0.9%;
    width: 70%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 12%;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}


.segundo {
	width:50%;
	height:50px;
	float: left;
}

	/*pedido
*/

.medidas {
	background-color: green;
	width:100%;
	height:100px;
	padding-top:20px;

}

.tela2 {
	width: 100%;
	height: 130px;
}

.promocao3 {
	border: 1px solid #787716;
	width: 25%;
	height:50px;
	border-radius: 15px;
}

.promocao3 h4 {
	margin-top:10px;
}

.medidas2 {
	background-color: red;
	width:100%;
	height:70px;


}

.promocao4 {
	background-color: black;
	width: 60%;
	height:50px;
}

.promocao4 h4 {
	margin-top:10px;
}

.div-select {
    width:30%;  /* Tamanho final do select */
    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
    border-radius: 15px;
    margin-left: 50px;
    text-align: center;
    float: left;
    margin-right: 95px;

}
  
.div-select select {
      background-position: 205px center;  /*Posição da imagem do background*/
      width: 200px; /* Tamanho do select, maior que o tamanho da div "div-select" */
      height:48px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
      font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */
      font-size:14px; /* Tamanho da Fonte */
      padding:13px 20px 13px 25px; /* Configurações de padding para posicionar o texto no campo */
      color:#fff; /* Cor da Fonte */
      text-indent: 0.01px; /* Remove seta padrão do FireFox */
      text-overflow: "";  /* Remove seta padrão do FireFox */     
      select::-ms-expand {display: none;} /* Remove seta padrão do IE*/
}

.metade {
	background-color: pink;
	width:100%;
	height:500px;
}

.sabor {
	background-color: black;
	width: 30%;
	height:500px;
	float: left;
}

.sabor2 {
	background-color: gold;
	width: 30%;
	height:500px;
	float: left;
}

.detalhes-pizza {
	background-color: blue;
	width: 40%;
	height:500px;
	float: right;
}

.detalhes-pizza div {
	width: 100%;
	height:200px;
	padding:30px;
}



.promocao5 {
	border: 1px solid #787716;
	width: 170px;
	height:35px;
	border-radius: 15px;
}

.promocao5 h4 {
	margin-top:3px;
	font-size:25px;
}

.preco {
	background-color: orange;
	width: 100%;
	height:70px;
	padding-top:0.7%;
	padding-left:0.9%;
}

.promocao6 {

	border: 1px solid #787716;
	width: 15%;
	height:50px;
	border-radius: 10px;
}

.promocao6 h4 {
	margin-top:10px;
	font-size: 100%;
	float:left;
	margin-left:10%;
}

.pedido {
	height:100%;
	width:100%;
}

.bebida {
	background-color:gray;
	width:100%;
	height: 500px;
	padding-top:5%;
}

.bebidas {
	background-color:white;
	width:50%;
	height: 90%;
	padding-top:10px;
	border-radius: 15px;
}

.promocao7 {

	border: 2px solid #787716;
	width: 20%;
	height:40px;
	border-radius: 15px;
}

.promocao7 h4 {
	margin-top:5px;
	font-size: 130%;
	margin-left:5%;
}

.terceiro {
	width:50%;
	height:0px;
	float: left;
}

.promocao8 {
	background-color: black;
	width: 33%;
	height:50px;
	float:left;
}

.select-css2 {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    float: left;
    padding: 0.9%;
    width: 200%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 12%;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css2::-ms-expand {
    display: none;
}
/* Hover style */
.select-css2:hover {
    border-color: #888;
}
/* Focus style */
.select-css2:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}